.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #1A2033;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  color:white
}



.navbar-dark {
  background-color: #1A2033;
}
.jumbotron {
  padding:70px 30px 70px 30px !important;
  margin:0px auto !important;
  background: #00458B !important;
  color:floralwhite !important;
}
.reactCard{
  background: #3FD2C7 !important;
  color:#00458B
}
.info{
  font-size: large;
  font-family:Georgia, 'Times New Roman', Times, serif ;
}
.form-react{
  background-color :#99DDFF;
}